<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <style>
        .media{
            border: 1px solid #dddddd;
            box-shadow: 5px 5px 10px #aaa;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">当前用户 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的账户</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-9">

        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="/static/images/xianbei.png" style="height: 80px;width: 80px"
                         alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Wellcome to my website</h4>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize
                prebuilt grid system and components, and bring projects to life with powerful JavaScript
                plugins.Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass,
                utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript
                plugins.
                <div><i class="fa fa-calendar-o" aria-hidden="true">&nbsp2023-3-05</i></div>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="/static/images/xianbei.png" style="height: 80px;width: 80px"
                         alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Wellcome to my website</h4>测试
            </div>
        </div>

    </div>


    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">最新推荐</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-body">Panel content</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="label label-default">Linux</span>
                <span class="label label-primary">Kubernetes</span>
                <span class="label label-success">Docker</span>
                <span class="label label-info">Python</span>
                <span class="label label-warning">Golang</span>
                <span class="label label-danger">Rust</span>
            </div>
        </div>
    </div>
    <div aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
            </div>
            <div class="modal-body">
                <input type="file" capture="user" accept="image/*">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery-3.6.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>


</html>