<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <style>
        #tb{
            height: 500px;
            color: #2c0b0e;
        }
        .div1{
            background: #75b798;
        }
        td {
            color: #6610f2;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="border">Login</h1>
        <form method="post" action="/login">
            <table class="table">
                <tr><td><label>name<input type="text" name="name"></label></td></tr>
                <tr><td><label >password<input type="password" name="password"></label></td></tr>
                <tr><td><label><input type="submit" value="submit"></label></td></tr>
            </table>
        </form>
    </div>
</body>
</html>