<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System-manager</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        .col-sm-2 {
            width: 300px;
            height: 100%;
            position: fixed;
            border: 1px solid #dddddd;
            box-shadow: 5px 5px 10px #dddddd;
        }

        .col-sm-10 {
            float: right;

        }
    </style>
</head>
<body>
<!--top-bar-->
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">链接</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">其他 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>

<div class="col-sm-10">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="/static/images/xianbei.png" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="/static/images/xianbei.png" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="/static/images/xianbei.png" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="/static/images/xianbei.png" alt="...">
            </a>
        </div>
    </div>
    <div>
        <div class="panel panel-default">

            <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Panel heading</div>

            <table class="table">
                <tr>
                    <td>1111</td>
                    <td>2222</td>
                </tr>
                <tr>
                    <td>1111</td>
                    <td>2222</td>
                </tr>
                <tr>
                    <td>1111</td>
                    <td>2222</td>
                </tr>
                <tr>
                    <td>1111</td>
                    <td>2222</td>
                </tr>
            </table>
</div>
    </div>
</div>




</body>
</html>