<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/block.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
    <style>body{margin: 0;}</style>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="menu"><a href="/index">主页</a> </div>
            <div class="menu"><a href="/index">博客</a> </div>
            <div class="menu"><a href="/index">商城</a> </div>
            <div class="account"><a href="/login">登录</a></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="search">
        <div class="container2">
        <div class="logo"></div>
        <div class="logo"><a>田所</a></div>
        <div class="logo"><a>分类</a></div>
        <div class="logo"><a>关于</a></div>
        <div class="searchline"><label>
            <input type="text">
        </label>
            <button type="submit">Search</button></div>
            </div>
    </div>
    <div class="block">
        <div class="inblock">
            <div class="blockleft">
                <div class="avatar">
                    <a><img src="/static/images/xianbei.png"></a>
                </div>
                <div class="username">田所浩二</div>
                </div>
            <div class="blockright">2</div>
            <div style="clear: both"></div>
        </div>
    </div>

</body>
</html>